[submodule "EEE5015_eda_lab3"]
	path = EEE5015_eda_lab3
	url = https://github.com/LongStudy/EEE5015_eda_lab3.git
[submodule "EEE5015_eda_lab4"]
	path = EEE5015_eda_lab4
	url = https://github.com/LongStudy/EEE5015_eda_lab4.git
[submodule "EEE5015_eda_lab5"]
	path = EEE5015_eda_lab5
	url = https://github.com/LongStudy/EEE5015_eda_lab5.git
